@model IEnumerable<LibrarySystemUI.Models.Book>

@{
    ViewBag.Title = "BookCollection";
}

<h2>BookCollection</h2>
@using (Html.BeginForm())
{
    @*<p>
            @Html.ActionLink("Create New", "Create")
        </p>*@
    <select id="filterParentCategory" data-placeholder="Order Status" style="width:12%;">
    </select>
    <select id="filterSubCategory" data-placeholder="Order Status" style="width:12%;">
    </select>
    <button type="button" class="btn btn-default btn-success" data-dismiss="modal" onclick="objBook.RedirectToQuestion()">Get Last 50 questions from stack overflow</button>

    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.BookName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Category)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SubCategory)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Publication)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NoOfCopies)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.BookName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Category)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SubCategory)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Publication)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NoOfCopies)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                @*<td>
                        @Html.ActionLink("Edit", "Edit", new { id = item.BookId }) |
                        @Html.ActionLink("Details", "Details", new { id = item.BookId }) |
                        @Html.ActionLink("Delete", "Delete", new { id = item.BookId })
                    </td>*@
            </tr>
        }

    </table>
}
<script src="~/Scripts/Book/Book.js"></script>
<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<script src="~/Scripts/bootstrap.min.js"></script>
<script>
    $(document).ready(function () {


        objBook.init();

    });
</script>